.burger-container {
    display: none;
}
@include respond(phonePlus) {
    .burger-container {
        display: block;
        cursor: pointer;
    }
    .menu-btn {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        right: 1.5rem;
        top: 2rem;
        z-index: 25;
        transition: all 0.5s ease-in-out;
        &__burger {
            width: 4.5rem;
            height: 0.3rem;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 2px 5px rgba($color-primary-dark, $alpha: 0.7);
            transition: all 0.5s ease-in-out;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 4.5rem;
                height: 0.3rem;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba($color-primary-blue, $alpha: 0.7);
                transition: all 0.5s ease-in-out;
            }
            &::before {
                transform: translateY(-1.2rem);
            }
            &::after {
                transform: translateY(1.2rem);
            }
        }
    }

    .menu-btn.open {
        background: $color-primary-white;
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: $color-primary-dark;
    }
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: $color-primary-dark;
    }
    .menu-btn.open.header-navbar {
        display: none;
    }

    .menu-text {
        color: #f5f5f5;
        font-size: 1.5em;
        font-family: cousine;
        z-index: 25;
        position: fixed;
        right: 2.2rem;
        top: 6.2rem;
        transition: opacity 0.3s ease-in-out;
    }
    .menu-text.open {
        opacity: 0;
    }
}
